<a href="https://colab.research.google.com/github/saikrithik/aicrowd-insurance-pricing-game/blob/main/Submission_notebook_(Python).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center">
  <img alt="AIcrowd" src="https://gitlab.aicrowd.com/jyotish/pricing-game-notebook-scripts/raw/master/pricing-game-banner.png">
</div>

# How to use this notebook üìù

1. **Copy the notebook**. This is a shared template and any edits you make here will not be saved. _You should copy it into your own drive folder._ For this, click the "File" menu (top-left), then "Save a Copy in Drive". You can edit your copy however you like.
2. **Link it to your AICrowd account**. In order to submit your code to AICrowd, you need to provide your account's API key (see [_"Configure static variables"_](#static-var) for details).
3. **Stick to the function definitions**. The submission to AICrowd will look for the pre-defined function names:
  - `fit_model`
  - `save_model`
  - `load_model`
  - `predict_expected_claim`
  - `predict_premium`

    Anything else you write outside of these functions will not be part of the final submission (including constants and utility functions), so make sure everything is defined within them, except for:
4. **Define your preprocessing**. In addition to the functions above, anything in the cell labelled [_"Define your data preprocessing"_](#data-preprocessing) will also be imported into your final submission.

# Your pricing model üïµÔ∏è

In this notebook, you can play with the data, and define and train your pricing model. You can then directly submit it to the AICrowd, with some magic code at the end.

### Baseline logistic regression üí™
You can also play with a baseline logistic regression model [implemented here](https://colab.research.google.com/drive/1iDgDgWUw9QzOkbTYjeyY3i3DGuCoghs3?usp=sharing).

# Setup the notebook üõ†

In [126]:
!bash <(curl -sL https://gitlab.aicrowd.com/jyotish/pricing-game-notebook-scripts/raw/master/python/setup.sh)
from aicrowd_helpers import *

‚öôÔ∏è Installing AIcrowd utilities...
  Running command git clone -q https://gitlab.aicrowd.com/yoogottamk/aicrowd-cli /tmp/pip-req-build-2th7n0ts
‚úÖ Installed AIcrowd utilities

# Configure static variables üìé
<a name="static-var"></a>

In order to submit using this notebook, you must visit this URL https://aicrowd.com/participants/me and copy your API key. 

Then you must set the value of `AICROWD_API_KEY` wuth the value.

In [127]:
import sklearn

class Config:
  TRAINING_DATA_PATH = 'training.csv'
  MODEL_OUTPUT_PATH = 'model.pkl'
  AICROWD_API_KEY = 'a1dde7ec8733613146ca350a8999d4fb'  # You can get the key from https://aicrowd.com/participants/me
  APT_PACKAGES = [
    "libgomp1",
  ]
  ADDITIONAL_PACKAGES = [
    'numpy',  # you can define versions as well, numpy==0.19.2
    'pandas',
    'scikit-learn==' + sklearn.__version__,
    'lightgbm'
    'joblib'
  ]

# Download dataset files üíæ

In [128]:
%download_aicrowd_dataset

üíæ Downloading dataset...
Verifying API Key...
API Key valid
Saved API Key successfully!
‚úÖ Downloaded dataset

# Packages üóÉ

<a name="packages"></a>

Import here all the packages you need to define your model. **You will need to include all of these packages in `Config.ADDITIONAL_PACKAGES` for your code to run properly once submitted.**

In [129]:
%%track_imports

from lightgbm import LGBMRegressor
import numpy as np
import pandas as pd
import pickle
from sklearn.preprocessing import LabelEncoder
import joblib

In [130]:
import importlib
import global_imports
importlib.reload(global_imports)
from global_imports import *  # do not change this

# Loading the data üì≤

In [131]:
df = pd.read_csv(Config.TRAINING_DATA_PATH)
X_train = df.drop(columns=['claim_amount'])
y_train = df['claim_amount']

## How does the data look like? üîç

In [132]:
X_train.sample(n=4)

       id_policy  year  ...  population town_surface_area
182012  PL003954   4.0  ...        90.0              34.5
93869   PL073167   2.0  ...       660.0             209.3
167569  PL031918   3.0  ...      2550.0             326.4
78455   PL057890   2.0  ...       160.0             102.2

[4 rows x 25 columns]

In [133]:
y_train.sample(n=4)

222944    0.0
46277     0.0
166926    0.0
170066    0.0
Name: claim_amount, dtype: float64

# Training the model üöÄ

You must first define your first function: `fit_model`. This function takes training data as arguments, and outputs a "model" object -- that you define as you wish. For instance, this could be an array of parameter values.

## Define your data preprocessing

<a name="data-preprocessing"></a>

You can add any class or function in this cell for preprocessing. Just make sure that you use the functions here in the `fit_model`, `predict_expected_claim` and `predict_premium` functions if necessary. *italicised text*

In [134]:
X_train

       id_policy  year  ...  population town_surface_area
0       PL000000   1.0  ...      1270.0              33.1
1       PL042495   1.0  ...      1290.0              51.3
2       PL042496   1.0  ...      1020.0             262.8
3       PL042497   1.0  ...       180.0             219.7
4       PL042498   1.0  ...        30.0              70.3
...          ...   ...  ...         ...               ...
228211  PL008818   4.0  ...      1030.0              95.3
228212  PL055033   4.0  ...        30.0              89.6
228213  PL061619   4.0  ...       290.0             106.1
228214  PL060903   4.0  ...        30.0             104.4
228215  PL052240   4.0  ...       280.0             147.8

[228216 rows x 25 columns]

In [135]:
%%aicrowd_include
# This magical command saves all code in this cell to a utils module.
from global_imports import *
# This magical command saves all code in this cell to a utils module.
def preprocess(X_raw):
  le = LabelEncoder()
  temp = X_raw.copy()
  for col in temp.columns:
    if temp[col].dtype == object:
      temp[col] = le.fit_transform(temp[col])
  if 'vh_make_model' in temp.columns:
    temp = temp.drop(['vh_make_model'], axis = 1)
  return temp
# include your preprocessing functions and classes here. 
# include your preprocessing functions and classes here.

In [136]:
import importlib
import utils
importlib.reload(utils)
from utils import *  # do not change this

## Define the training logic

In [137]:
from global_imports import *
from utils import *


def fit_model(X_raw, y_raw):
    """Model training function: given training data (X_raw, y_raw), train this pricing model.
    Parameters
    ----------
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.
    y_raw : a Numpy array, with the value of the claims, in the same order as contracts in X_raw.
        A one dimensional array, with values either 0 (most entries) or >0.
    Returns
    -------
    self: this instance of the fitted model. This can be anything, as long as it is compatible
        with your prediction methods.

    """
    temp = preprocess(X_raw)
    #Baseline
    model = LGBMRegressor(random_state=27)

    model.fit(temp,y_raw)
    # TODO: train your model here.
    # Don't forget any preprocessing of the raw data here

    return model  # By default, training a model that returns a mean value (a mean model).

## Train your model

In [138]:
trained_model = fit_model(X_train, y_train)

In [139]:
X_train

       id_policy  year  ...  population town_surface_area
0       PL000000   1.0  ...      1270.0              33.1
1       PL042495   1.0  ...      1290.0              51.3
2       PL042496   1.0  ...      1020.0             262.8
3       PL042497   1.0  ...       180.0             219.7
4       PL042498   1.0  ...        30.0              70.3
...          ...   ...  ...         ...               ...
228211  PL008818   4.0  ...      1030.0              95.3
228212  PL055033   4.0  ...        30.0              89.6
228213  PL061619   4.0  ...       290.0             106.1
228214  PL060903   4.0  ...        30.0             104.4
228215  PL052240   4.0  ...       280.0             147.8

[228216 rows x 25 columns]

**Important note**: your training code should be able to run in under 10 minutes (since this notebook is re-run entirely on the server side). 

If you run into an issue here we recommend using the *zip file submission* (see the [challenge page](https://www.aicrowd.com/challenges/insurance-pricing-game/#how-to%20submit)). In short, you can simply do this by copy-pasting your `fit_model`, `predict_expected_claim` and `predict_premium` functions to the `model.py` file.

Note that if you want to perform extensive cross-validation/hyper-parameter selection, it is better to do them offline, in a separate notebook.

## Saving your model

You can save your model to a file here, so you don't need to retrain it every time.

In [140]:
def save_model(model_path):  # some models such xgboost models or keras models don't pickle very reliably. Please use the package provided saving functions instead. 
  # with open(model_path, 'wb') as target_file:
  #     pickle.dump(trained_model, target_file)
  joblib.dump(trained_model, model_path)

In [141]:
save_model(Config.MODEL_OUTPUT_PATH)

If you need to load it from file, you can use this code:

In [142]:
def load_model(model_path): # some models such xgboost models or keras models don't pickle very reliably. Please use the package provided saving functions instead. 
  # with open(model_path, 'rb') as target:
  #     return pickle.load(target)
  return joblib.load(model_path)

In [143]:
trained_model = load_model(Config.MODEL_OUTPUT_PATH)

# Predicting the claims üíµ

The second function, `predict_expected_claim`, takes your trained model and a dataframe of contracts, and outputs a prediction for the (expected) claim incurred by each contract. This expected claim can be seen as the probability of an accident multiplied by the cost of that accident.

This is the function used to compute the _RMSE_ leaderboard, where the model best able to predict claims wins.

In [144]:
def predict_expected_claim(model, X_raw):
    """Model prediction function: predicts the expected claim based on the pricing model.

    This functions estimates the expected claim made by a contract (typically, as the product
    of the probability of having a claim multiplied by the expected cost of a claim if it occurs),
    for each contract in the dataset X_raw.

    This is the function used in the RMSE leaderboard, and hence the output should be as close
    as possible to the expected cost of a contract.

    Parameters
    ----------
    model: a Python object that describes your model. This can be anything, as long
        as it is consistent with what `fit` outpurs.
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.

    Returns
    -------
    avg_claims: a one-dimensional Numpy array of the same length as X_raw, with one
        expected claim per contract (in same order). These expected claims must be POSITIVE (>0).
    """
    X_raw = preprocess(X_raw)
    preds = model.predict(X_raw)
    # TODO: estimate the expected claim of every contract.
    # Don't forget any preprocessing of the raw data here
    
    return preds # np.full( (len(X_raw.index),), model ) 
     # Estimate that each contract will cost 114 (this is the naive mean model). You should change this!

To test your function, run it on your training data:

In [145]:
X_train

       id_policy  year  ...  population town_surface_area
0       PL000000   1.0  ...      1270.0              33.1
1       PL042495   1.0  ...      1290.0              51.3
2       PL042496   1.0  ...      1020.0             262.8
3       PL042497   1.0  ...       180.0             219.7
4       PL042498   1.0  ...        30.0              70.3
...          ...   ...  ...         ...               ...
228211  PL008818   4.0  ...      1030.0              95.3
228212  PL055033   4.0  ...        30.0              89.6
228213  PL061619   4.0  ...       290.0             106.1
228214  PL060903   4.0  ...        30.0             104.4
228215  PL052240   4.0  ...       280.0             147.8

[228216 rows x 25 columns]

In [146]:
predict_expected_claim(trained_model, X_train)

array([202.78348842,  80.06072397,  63.37771692, ..., 130.61178537,
        65.51150438, 122.83380713])

# Pricing contracts üí∞üí∞

The third and final function, `predict_premium`, takes your trained model and a dataframe of contracts, and outputs a _price_ for each of these contracts. **You are free to set this prices however you want!** These prices will then be used in competition with other models: contracts will choose the model offering the lowest price, and this model will have to pay the cost if an accident occurs.

This is the function used to compute the _profit_ leaderboard: your model will participate in many markets of size 10, populated by other participants' model, and we compute the average profit of your model over all the markets it participated in.

In [147]:
def predict_premium(model, X_raw):
    """Model prediction function: predicts premiums based on the pricing model.

    This function outputs the prices that will be offered to the contracts in X_raw.
    premium will typically depend on the average claim predicted in 
    predict_average_claim, and will add some pricing strategy on top.

    This is the function used in the average profit leaderboard. Prices output here will
    be used in competition with other models, so feel free to use a pricing strategy.

    Parameters
    ----------
    model: a Python object that describes your model. This can be anything, as long
        as it is consistent with what `fit` outpurs.
    X_raw : Pandas dataframe, with the columns described in the data dictionary.
        Each row is a different contract. This data has not been processed.

    Returns
    -------
    prices: a one-dimensional Numpy array of the same length as X_raw, with one
        price per contract (in same order). These prices must be POSITIVE (>0).
    """
    
    X_raw = preprocess(X_raw=X_raw)
    display(X_raw)
    temp2 = X_raw.groupby("id_policy")["pol_no_claims_discount"].transform("mean")
    temp2 = 2.5-2.5*temp2
    # TODO: return a price for everyone.
    # Don't forget any preprocessing of the raw data here

    return predict_expected_claim(model, X_raw) * temp2  # Default: bosst prices by a factor of 2

To test your function, run it on your training data.

In [148]:
prices = predict_premium(trained_model, X_train)

        id_policy  year  ...  population  town_surface_area
0               0   1.0  ...      1270.0               33.1
1           25382   1.0  ...      1290.0               51.3
2           25383   1.0  ...      1020.0              262.8
3           25384   1.0  ...       180.0              219.7
4           25385   1.0  ...        30.0               70.3
...           ...   ...  ...         ...                ...
228211       5240   4.0  ...      1030.0               95.3
228212      32820   4.0  ...        30.0               89.6
228213      36771   4.0  ...       290.0              106.1
228214      36347   4.0  ...        30.0              104.4
228215      31125   4.0  ...       280.0              147.8

[228216 rows x 24 columns]

#### Profit on training data

In order for your model to be considered in the profit competition, it needs to make nonnegative profit over its training set. You can check that your model satisfies this condition below:

In [149]:
print('Income:', prices.sum())
print('Losses:', y_train.sum())

if prices.sum() < y_train.sum():
    print('Your model loses money on the training data! It does not satisfy market rule 1: Non-negative training profit.')
    print('This model will be disqualified from the weekly profit leaderboard, but can be submitted for educational purposes to the RMSE leaderboard.')
else:
    print('Your model passes the non-negative training profit test!')

Income: 61546402.22391153
Losses: 26057988.080000006
Your model passes the non-negative training profit test!

# Ready? Submit to AIcrowd üöÄ

If you are satisfied with your code, run the code below to send your code to the AICrowd servers for evaluation! This requires the variable `trained_model` to be defined by your previous code.

**Make sure you have included all packages needed to run your code in the [_"Packages"_](#packages) section.**

In [150]:
%aicrowd_submit

üöÄ Preparing to submit...
‚öôÔ∏è Collecting the submission code...
üíæ Preparing the submission zip file...
adding: requirements.txt (stored 0%)
adding: config.json (deflated 8%)
adding: predict.py (deflated 52%)
adding: predict_premium.py (deflated 52%)
adding: utils.py (deflated 54%)
adding: model.pkl (deflated 62%)
adding: fit_model.py (deflated 49%)
adding: global_imports.py (deflated 28%)
adding: predict_expected_claim.py (deflated 52%)
adding: apt.txt (stored 0%)
adding: load_model.py (deflated 39%)
adding: save_model.py (deflated 41%)
Verifying API Key...
API Key valid
Saved API Key successfully!
‚ï≠‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ïÆ
‚îÇ                                           Successfully submitted!                                            ‚îÇ
‚ï∞‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚ïØ
Important links
‚îå‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¨‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îê
‚îÇ  This submission ‚îÇ https://www.aicrowd.com/challenges/insurance-pricing-game/submissions/112381              ‚îÇ
‚îÇ                  ‚îÇ                                                                                           ‚îÇ
‚îÇ  All submissions ‚îÇ https://www.aicrowd.com/challenges/insurance-pricing-game/submissions?my_submissions=true ‚îÇ
‚îÇ                  ‚îÇ                                                                                           ‚îÇ
‚îÇ      Leaderboard ‚îÇ https://www.aicrowd.com/challenges/insurance-pricing-game/leaderboards                    ‚îÇ
‚îÇ                  ‚îÇ                                                                                           ‚îÇ
‚îÇ Discussion forum ‚îÇ https://discourse.aicrowd.com/c/insurance-pricing-game                                    ‚îÇ
‚îÇ                  ‚îÇ                                                                                           ‚îÇ
‚îÇ   Challenge page ‚îÇ https://www.aicrowd.com/challenges/insurance-pricing-game                                 ‚îÇ
‚îî‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚î¥‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îÄ‚îò